@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

    .home
        width: 100%
        min-width: 300px
        margin: 0 auto
   
    header
        display: none

    .top-part
        background-size: 30%
        .header-capcha
            padding-top: 100px
            h3
                font-size: 16px
        .header-text h1 
            font-size: 32px
            line-height: 32px
        .main-text
            padding-top: 15px
            p
                font-size: 12px

    .wrapper-features
        display: flex
        flex-wrap: wrap
        .item
            display: none
            width: 100%
            min-width: 300px
        .item:first-child
                display: block

    .wrapper
        margin-top: -100px
    
    .features-expo
        .feature-img
            display: none
        .feature-text
            width: 100%
            text-align: left
            padding: 10px

    .wrapper-news-links
        .link-item
            display: none
        .link-item:first-child
            display: block
            width: 100%
            max-width: 100%
            margin: 10px

    .networks-container
        flex-wrap: wrap

    .wrapper-contact-form
        display: block
        text-align: center
        .information-column
            width: 100%
            padding: 10px
            text-align: center
        .form-column
            width: 100%
            padding: 10px


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
