@import "vars"
@import "fonts"
@import "libs"

.home 
	position: relative
	
header
	position: absolute
	top: 0
	right: 0
	left: 0
	padding-top: 15px

// For navigation bar
.container-navigation
	width: 100%
	max-width: 1140px
	margin: 0 auto	

.topnav
	font-family: $default-font
	font-weight: 500
	text-transform: uppercase

.navbar-brand
	display: inline-block
	max-width: 210px
	
.navbar-brand img
	width: 100%
	

.nav-home
	margin-left: 35px
	color: #000000
	font-family: $default-font
	font-weight: 500
	text-transform: uppercase

.nav-who
	margin-left: 32px
	color: #000000
	font-family: $default-font
	font-weight: 500
	text-transform: uppercase

.nav-about
	margin-left: 32px
	color: #000000
	font-family: $default-font
	font-weight: 500
	text-transform: uppercase

.nav-work
	margin-left: 32px
	color: #000000
	font-family: $default-font
	font-weight: 500
	text-transform: uppercase

	// End navigation

// For background
.top-part 
	width: 100%
	min-height: 880px
	background-repeat: no-repeat
	background-position: left center,top right
	object-fit: contain 



// Hero-Part
.header-capcha
	padding-top: 220px
	text-align: center
	font-family: $default-font
	text-transform: uppercase

.header-capcha h3 
	font-weight: 300
	font-size: 18px


.header-text
	text-align: center
	font-family: $default-font
	text-transform: uppercase
	color: #3a88f4

.header-text h1 
	font-weight: 600
	font-size: 64px

.main-text
	width: 100%
	max-width: 670px
	text-align: center
	font-family: $default-font
	text-transform: uppercase
	color: #3e3e3e
	margin: 0 auto
	
.main-text p
	font-size: 16px
	line-height: 1.5

	// Button "Contact Us"

.contact-button
	text-align: center

.contact-button button 
	border-style: none
	width: 190px
	height: 40px 
	line-height: 40px
	background-color: #3a88f4
	transition-duration: 0.2s
	box-shadow: 3px 3px 18px 3px rgba(58, 136, 244, 0.45)


.contact-button button a 
	font-family: $default-font
	font-weight: 600
	color: #fff


	// Wrapper with 3 features


.wrapper-features
	padding-top: 150px
	display: flex
	width: 100%
	margin: 0 auto
	max-width: 1140px
	

.item
	border-style: none
	margin: 5px
	width: 33%
	background-color: #ffffff
	text-align: center
	padding-top: 10px 
	padding-bottom: 20px 
	box-shadow: 1px 1px 20px -6px rgba(0, 0, 0, 0.11)


.item img
	width: 120px

.item span
	font-size: 24px
	color: #0068bf

// Wrapper for rest of the website

.wrapper 
	width: 100%
	max-width: 1140px
	margin: 0 auto 

// Features expo

.features-expo
	display: flex
	padding-top: 40px

.feature-img
	width: 40%

.feature-img img
	width: 100%	

.feature-text
	width: 60%
	padding-left: 60px
	padding-top: 60px

.feature-text h2
	font-size: 32px
	font-weight: 500
	color: #0674d3


// Carousel Who we are

.who-we-are
	text-align: center
	margin-top: 100px
	font-family: $default-font

.who-we-are h2 
	font-weight: 500
	font-size: 32px

.who-we-are p 
	margin-top: 10px
	font-weight: 100
	color: #232323
	font-size: 16px
	text-transform: uppercase

.s-carousel
	margin-top: 40px

.owl-nav
	position: absolute
	top: 25%
	width: 100%
	text-align: center

.owl-nav button
	outline: none

.owl-prev
	position: absolute
	left: -80px

.owl-next
	position: absolute
	right: -80px


.carousel-person-item
	width: 100%
	max-width: 240px
	margin: 0 auto

.carousel-person-item h3
	margin-top: 10px	
	font-size: 24px
	color: #3a88f4 

.carousel-person-item p 
	margin-top: 10px
	font-size: 16px
	color: #3e3e3e
	text-transform: none


// Link for Media Coverage section

.wrapper-media-coverage
	text-align: center
	margin-top: 100px
	font-family: $default-font

.wrapper-media-coverage h2
	font-weight: 500
	font-size: 32px

.wrapper-media-coverage h3 
	margin-top: 10px
	font-weight: 100
	color: #232323
	font-size: 16px
	text-transform: uppercase

.wrapper-news-links
	margin-top: 40px
	margin-left: 20px
	display: flex
	flex-wrap: wrap
	justify-content: flex-start

.link-item
	display: inline-block
	heigh: 100%
	min-height: 200px
	width: 30%
	max-width: 50%
	flex-grow: 1
	margin-bottom: 25px
	margin-right: 25px
	position: relative

.article-name
	position: absolute
	display: flex
	flex-direction: column
	top: 0
	right: 0
	bottom: 0
	left: 0
	align-items: flex-start
	justify-content: flex-end
	padding-bottom: 10px
	padding-left: 10px
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #ffffff)
	background-repeat: no-repeat


.article-name h3
	font-weight: 500
	text-transform: none
	text-align: left


// Professional Networks

.wrapper-prof-net
	text-align: center
	margin-top: 100px
	font-family: $default-font

.wrapper-prof-net h2 
	font-weight: 500
	font-size: 32px

.wrapper-prof-net h3 
	margin-top: 10px
	font-weight: 100
	color: #232323
	font-size: 16px
	text-transform: uppercase

.networks-container
	margin-top: 40px
	display: flex
	justify-content: center

.network-item
	margin: 20px


// Contact Us

.wrapper-contac-us
	text-align: center
	margin-top: 100px
	margin-bottom: 100px
	font-family: $default-font

.wrapper-contac-us h2 
	ont-weight: 500
	font-size: 32px

.wrapper-contac-us h3 	
	margin-top: 10px
	font-weight: 100
	color: #232323
	font-size: 16px
	text-transform: uppercase

.wrapper-contact-form
	margin-top: 40px
	display: flex

.information-column
	width: 50%
	text-align: left
	
.form-column
	width: 50%
	text-align: center

.form-item
	width: 100%
	margin-bottom: 20px
	color: #93bfe4
	padding: 16px
	font-size: 16px
	line-height: 22px
	resize: none
	border-radius: 5px
	border: solid 1px #93bfe4

.form-button
	border-style: none
	width: 190px
	height: 40px 
	line-height: 40px
	background-color: #3a88f4
	transition-duration: 0.2s
	box-shadow: 3px 3px 18px 3px rgba(58, 136, 244, 0.45)
	font-size: 16px
	font-weight: 600
	color: #fff
	text-transform: uppercase


//Footer area

.page-footer
	padding: 25px 0
	background-color: #fcfcfc
	text-align: center

// Was prerequisited
::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.hamburger
	display: none

.hamburger:focus
	border: none
	outline: none

// About Us page additions

//Top Navigation

.nav-contact-button
	display: inline-block
	margin-left: 250px
	

.nav-contact-button button
	border-style: none
	outline-style: none
	width: 190px
	height: 40px 
	line-height: 40px
	background-color: #3a88f4
	transition-duration: 0.2s
	

.nav-contact-button button:hover
	box-shadow: 3px 3px 18px 3px rgba(58, 136, 244, 0.45)


.nav-contact-button button a 
	font-family: $default-font
	font-weight: 600
	color: #fff

.nav-contact-button button a:hover 
	text-decoration: none 


//
//
//Aout us Page content
// 
// 
		
	

.about-us-wrap
	width: 100%
	margin: 0 auto

.hero-picture img
	width: 100%
	margin-top: 100px

.hero-picture-2 img
	width: 100%

.page-nav
	margin-top: 40px
	margin-bottom: 100px

//Page Navigation

.page-nav ul 
	display: flex
	justify-content: center
	text-align: center
	list-style: none

.page-nav-item 
	margin-left: 20px
	margin-right: 20px
	text-transform: uppercase

.page-nav-item a 
	font-size: 16px
	font-weight: 500
	color: $text

.page-nav-item a:hover
	color: #0068bf
	text-shadow: 2px 0 3px #d4d4d4
	text-decoration: none

//Page text compartments

.first-compartment
	width: 100%
	background-repeat: no-repeat
	background-position: -20px 250px
	padding-bottom: 80px
	
	
.compatrment-body
	width: 100%
	max-width: 900px
	margin: 0 auto
	text-align: center

.compatrment-body h2 
	color: $main-text
	font-size: 32px
	font-weight: 500
	text-transform: uppercase

.compatrment-body h3 
	color: #414141
	font-size: 24px
	font-weight: 300
	line-height: 1.5
	margin-bottom: 40px
	margin-top: 20px

.compatrment-body p 
	color: #414141
	font-size: 18px
	line-height: 1.5
	margin-bottom: 20px

.quote
	width: 100%
	max-width: 650px
	margin: 0 auto
	text-align: center

.quote span
	font-size: 64px
	color: rgba($main-text, 0.3)

.quote p 
	color: rgba($main-text, 0.8)
	font-size: 18px
	font-weight: 300
	line-height: 1.5

.author
	width: 100%
	max-width: 650px
	margin-left: 50%
	text-align: left


.author h2 
	color: $text
	font-size: 16px
	font-weight: 500
	line-height: 1.75
	margin-bottom: 0

.author h3
	color: rgba($text, 0.7)
	font-size: 14px
	font-weight: 300
	margin-bottom: 0

.second-compartment
	width: 100%
	margin-top: 70px
	background-repeat: no-repeat
	background-position: 100% 10%

.compatrment-body-second
	width: 100%
	max-width: 720px
	margin: 0 auto
	text-align: center

.compatrment-body-second h2 
	color: $main-text
	font-size: 32px
	font-weight: 500
	text-transform: uppercase

.compatrment-body-second h4
	color: rgba($text, 0.8)
	font-size: 16px
	font-weight: 300
	line-height: 1.5
	text-transform: uppercase
	margin-bottom: 40px
	margin-top: -10px

.compatrment-body-second p 
	color: #414141
	font-size: 18px
	line-height: 1.5
	margin-bottom: 30px

.links-on-about
	width: 100%
	max-width: 1140px
	margin: 0 auto

.article-name h3 
	color: $text
	font-size: 18px

.third-compartment
	width: 100%
	max-width: 1140px
	margin: 0 auto
	.who-we-are
		margin-bottom: 100px
	.who-we-are h2 
		color: $main-text



// 
// 
// Team Member page style 
//
//

.wrap-team
	background-repeat: no-repeat
	background-position: -45px 350px
	padding-top: 120px

.wrap-team-member
	width: 100%
	max-width: 1140px
	margin: 0 auto
	display: flex

.tm-info
	margin-left: 40px
	h2
		color: $accent
		font-size: 31px
		font-weight: 500
	h3
		color: $text
		font-size: 18px
		font-weight: 500
		margin-top: -10px
		margin-bottom: 15px
	p 
		line-height: 1.5

//
//
// Our Work Archieve
//
//

.wrap-work
	background-repeat: no-repeat
	background-position: -45px 350px
	padding-top: 100px

.wrap-archieve
	width: 100%
	max-width: 1140px
	margin: 0 auto

.hero-archieve
	width: 100%
	display: flex
	.hero-archieve-pic
		width: 50%
		margin-right: 30px
	.hero-archieve-info
		width: 50%
		span 
			color: rgba($text, 0.4)
			font-size: 14px
		a 
			color: $accent
			font-size: 32px
			font-weight: 500 
		.archieve-button
			margin-top: 50px
			button:hover
				box-shadow: 3px 3px 18px 3px rgba(58, 136, 244, 0.45)
			button
				border-style: none
				outline-style: none
				width: 190px
				height: 40px 
				line-height: 40px
				background-color: #3a88f4
				transition-duration: 0.2s
				a 
					font-family: $default-font
					font-size: 18px
					text-transform: uppercase
					font-weight: 600
					color: #fff
				a:hover
					text-decoration: none 



.owl-nav
	display: none



// Always at the end
@import "media" 
